/*  your css code here. If applicable */
*{
  padding:0;
  margin:0;
}
body{
background:darkcyan;


}
.button{
	display:flex;
	justify-content:space-around;
	margin-top:50%;
}
.stop{
	color:white;
	background:darkviolet;
	padding:10px 15px;
}
.btn{
	color:white;
	background:darkviolet;
	padding:10px 15px;
}